<div class="board" id="board">
		<table id="turn_nav_table">
			<tr>
				<div id="turn_nav">
					<% @game.finished_and_current_turns.each do |turn| %>
			    	<%= render :partial => "turn_nav", :locals => { :turn => turn, :display_turn => @display_turn} %>		
					<% end %>
				</div>	
		  </tr>
		</table> 
 <% for turn in @game.finished_and_current_turns %>
    <%= render :partial => "turn", :locals => { :turn => turn, :turn_asset_instances => @turn_asset_instances[turn], :display_turn => @display_turn } %>
  <% end %>
</div>