<div class="cell" id="<%= get_cell_name(turn.id,x,y) %>" style="width:<%= @game.imagewidth / @game.boardwidth %>px;height:<%= @game.imageheight / @game.boardheight %>px">
	<% if(asset_instances)%>
			<% table_width = Math.sqrt(asset_instances.size).ceil %>
			<% image_width = @cell_width / table_width %>
			<% image_height = @cell_height / table_width %>
			<table class="cell_table">
				<% asset_instances.each_with_index do |instance, i| %>
					<% if i+1 % table_width == 0 %>
			     		<tr>
					<% end %>
					<td>
						<%= render(:partial => "instance", :locals => {:turn => turn, :instance => instance, :i_width => image_width, :i_height => image_height})%>
					</td>
					<% if i+1 % table_width == table_width %>
	       				</tr>
                    <% end %>
				<% end %>
			</table>
	<% end %>
</div>
<% if !@player.committed?(turn) %>																 
	<script type="text/javascript">
		Droppables.add("<%= get_cell_name(turn.id,x,y) %>", 
									{accept:['asset_instance'], 
									 hoverclass:'hover', 
									 onDrop:function(element){
									 		startMove(); 
											new Ajax.Request('<%= url_for(:action => :move) %>', 
												{asynchronous:true, 
												 evalScripts:true, 
												 method:'post', 
												 parameters:'x=<%=x%>&y=<%=y%>&asset_id=' + encodeURIComponent(element.id.split('_')[3]), 
												 onComplete:function(request){
												 	stopMove()
												 }
												}
											)
									 }
									}
									)
	</script>
<% end %>
																 

																 