<div class="commit" id="commit_turn_<%= turn.id %>">

	<%= render(:partial => 'commit_table',:locals => {:turn => turn})%>
	 
	<%= form_tag params_for(:controller => 'game', :action => 'commit',
				:before => "show_message('Committing... ');",
				:after => "change_message(message + 'initializing');",
				:loading => "change_message(message + 'loading');",
				:loaded => "change_message(message + 'finished');",
				:complete => "hide_message();$j('commit_button_" + turn.id.to_s + "').disable();"
				), {:method => :post,'remote' => true} do %>								
		<% if @player.committed?(turn) %>
			<%= submit_tag("Committed", :disabled => true, :id => "commit_button_" + turn.id.to_s) %>
		<% else %>
			<%= submit_tag("Commit", :disable_with => "Committing...", :id => "commit_button_" + turn.id.to_s) %>
		<% end %>
	<% end %>	
</div>
