<table id="commit_table_<%= turn.id %>" class="commit_table">
    <% @game.players.each do |player| %>
    <tr class="commit_table">
        <td class="commit_table"><%= player.name %></td><td class="commit_table"><%= 'not' if !player.committed?(turn) %> committed </td>
    </tr>
    <% end %>
</table>