<div class="instance">
<div class="asset_instance" id="<%= get_instance_name(instance) %>">
	<%= image_tag(instance.image == nil ? "not found" : instance.image.location, :style => "width:#{i_width}px;height:#{i_height}px;border: 2px solid #{@player.my_instance?(instance) ? 'lime' : 'black' }") %>
	<div id="fade" class="instance_black_overlay" <%= 'style="display: block"' if instance_committed?(instance)%>></div>
</div>
<%= draggable_element(get_instance_name(instance), :revert => "'failure'", :zindex => 10000) if @player.my_instance?(instance) && !@player.committed?(turn) %>
</div>
