<div class="off_board_assets" id="turn_<%= turn.id %>_off_board_assets">
	<table class="off_board_assets_table">
				<% off_board_assets.each do |instance| %>
				<tr>
					<td>
						<%= render(:partial => "instance", :locals => {:turn => turn, :instance => instance, :i_width => cell_width / 2, :i_height => cell_height / 2})%>
					</td>
		     </tr>
				<% end %>			
	</table>
<br/>
</div>
