<div id="turn_<%= turn.id %>" class="<%= 'turn ' + (turn == display_turn ? 'shown_turn' : '') %>">
 <%= render(:partial => "off_board_assets", :locals => {:turn => turn, :off_board_assets => turn_asset_instances['0,0'] || [], :cell_width => @cell_width, :cell_height => @cell_height})%>
	<table class="board_outer_table">
		<tr>
			<td>
		 <table class="board_table">
		 	<thead>
		 		<tr>
		 			<th></th>
					<% head = '@' %><% 1.upto(@game.boardwidth) do |y| %>
						<th class="board-column-header"><%= head.succ! %></th>
					<% end %>
				</tr>
		 	</thead>
			<tr>
				<td class="board-row-header">1</td>
				<td colspan="<%= @game.boardwidth %>" rowspan="<%= @game.boardheight %>" style="z-index: -1">
					<table class="board_image_table" style="background-image:url(<%= image_path(@game.boardimage) %>); background-repeat: no-repeat; background-position: center center; z-index: 1;width:<%= @game.imagewidth - 20 %>px;height:<%= @game.imageheight - 20 %>px">
						<% 1.upto(@game.boardheight) do |y| %>
							<tr>
								<% 1.upto(@game.boardwidth) do |x| %>
									<td><%= render(:partial => "cell", :locals => {:turn => turn, :x => x, :y => y, :asset_instances => turn_asset_instances[x.to_s + ',' + y.to_s] }) %></td>
								<% end %>
							</tr>
						<% end %>
					</table>
				</td>
			</tr>
			<% head = '1' %><% 2.upto(@game.boardheight) do |y| %>
				<tr>
					<td class="board_column_header"><%= head.succ! %></td>
					<% 1.upto(@game.boardwidth) do |y| %>
						<td/>
					<% end %>
				</tr>
			<% end %>
		 </table>
		</td>
		<td>
		<%= render(:partial => 'commit', :locals => {:turn => turn })%>
		</td>
	</tr>
 </table>
</div>