<% if(@evaluated) %> 
    <% broadcast("/#{@game.id}/messages/new") do %>
        <% if(!@old_current_turn.copy_assets_from_previous) #if this is the last turn
          if(@game.show_pre_score) %>
              window.location.replace('<%= url_for(:action => 'pre_score', :id => @game.id) %>');
          <% else %>
              window.location.replace('<%= url_for(:action => 'score', :id => @game.id) %>');
          <% end %>
        <% else %>
            window.location.replace('<%= url_for(:action => 'play', :displayturn => @old_current_turn.id, :id => @game.id) %>');
        <% end %>
    <% end %>
<% else %>      
    <% broadcast("/#{@game.id}/messages/new") do %>
        $j('#commit_table_<%= @game.current_turn.id.to_s %>').html('<%= escape_javascript render(:partial => "commit_table", :locals => {:turn => @game.current_turn}) %>');
        keep_current_turn_displayed();
    <% end %>
    <% broadcast("/#{@game.id}/messages/new/#{@player.id.to_s}") do %>
        window.location.replace('<%= url_for(:action => 'play', :displayturn => @game.current_turn.id, :id => @game.id) %>'); 
    <% end %>
<% end %>
