<h1>Listing games</h1>

Click on a game to play.
<table>  
<% for game in @games %>
  <tr>
    <td><%= link_to game.name, :action => 'play', :id => game %></td>
  </tr>
<% end %>
</table>

<%= link_to "Logout", {:controller => 'account', :action => 'logout'} %>

<br />

