<% broadcast("/#{@game.id}/messages/new#{("/" + @player.id.to_s) if !@game.current_turn.shared_visual}") do %>
$j("#turn_<%= @game.current_turn.id.to_s %>_off_board_assets").replaceWith("<%= escape_javascript render(partial: "off_board_assets", :locals => {:turn => @game.current_turn, 
                                 :off_board_assets => AssetInstance.find(:all, 
                                                                         :conditions => {
                                                                              :turn_id => @game.current_turn.id, 
                                                                              :x => 0, 
                                                                              :y => 0},
                                                                         :include => [:asset_image, :turn, {:asset => [:asset_image, :players]}]),
                                 :cell_width => @cell_width, 
                                 :cell_height => @cell_height} ) %>");
$j("#turn_<%= @game.current_turn.id.to_s %>").replaceWith("<%= escape_javascript render(:partial => "turn", :locals => {:turn => @game.current_turn, :turn_asset_instances => @game.current_turn.board_asset_instances(@player), :display_turn => @game.current_turn})%>");
keep_current_turn_displayed();
<% end %>