<div id="title" class="title">
		-- StrikeCom -- <%= @game.name %> -- <%= @player.name %> --<br/>
		<%= link_to "Logout", {:controller => "account", :action => "logout"}, :class => "title" %>
		<a class="title" href="#" onclick="window.location.reload()">Refresh</a>
		<%= link_to("Score", {:action => "score", :id => @game.id}, :class => "title") unless !@game.finished_at %>
	</div>
<%= render(:partial => "board")%>
<%= render(:partial => "chat/chat", :locals => {:player => @player, :chat_items => @chat_items})%>