<% content_for("page_scripts") do %>
		function show_pre_score(){
			showmessage('<%= "<p>Thank you for playing StrikeCom.</p> <p>Please fill out the questionnaire before continuing.  When you are finished, Click OK to continue</p> <button type=\"button\" onclick=\"show_score(#{@game.score})\">OK</button>" %>') 
		}
		
		addLoadEvent(function(){
			show_pre_score()
		})
<% end %>
<div id="title" class="title">
		-- StrikeCom -- <%= @game.name %> -- <%= @player.name %> --<br/>
		<%= link_to "Logout", {:controller => "account", :action => "logout"}, :class => "title" %>
		<%= link_to "Game Board", {:action => "play", :id => @game.id}, :class => "title" %>
</div>
<div id="score">
<p>Thank you for playing StrikeCom.</p> <p>Please fill out the questionnaire before continuing.  When you are finished, Click the "Score" linke to continue</p> 
<%= link_to "Score", {:action => "score", :id => @game.id}%>
</div>
