<div id="title" class="title">
		-- StrikeCom -- <%= @game.name %> -- <%= @player.name %> --<br/>
		<%= link_to "Logout", {:controller => "account", :action => "logout"}, :class => "title" %>
		<%= link_to "Game Board", {:action => "play", :id => @game.id}, :class => "title" %>
</div>
<div id="score">
	<p>Thank you for playing StrikeCom!  You hit <%= @score_components['hits'] %> out of <%= @score_components['targets'] %> targets using <%= @score_components['assets'] %> bombs.</p>
	<p>Your score is <%= @game.score %></p>  
</div>