<h1>Delete Many</h1>

<h2>Delete Selected</h2>
<%= form_tag :action => 'delete_many_action' do %>
 <%= select("game", "id", @games.collect {|game| [game.name, game.id]}, {}, {:multiple => true, :size => 20}) %>
 <%= submit_tag 'Delete', :confirm => 'Are you sure you want to delete the selected games?' %>
<% end %>
<h2>Delete by Prefix</h2>
<%= form_tag :action => 'delete_many_by_prefix' do %>
<label>Enter the prefix of the games you would like to delete</label> 
<%= text_field_tag 'game_prefix' %>
<%= submit_tag 'Delete', :confirm => 'Are you sure you want to delete the games with the given prefix?' %>
<% end %>

<%= link_to 'Back', :action => 'list_games' %>
