<h1>Edit Game</h1>

<H2>Game Properties</H2>
<%= render :active_scaffold => 'admin/game', :constraints => {:id => @game.id } %>
<H2>Players and users</H2>

	<table>
		<tr>
			<th>Player</th>
			<th>Associated Users</th>
		</tr>
	<% for player in @game.players%>
		<tr>
			<td><%= player.name %></td>
			<td>
					<% for user in player.has_owners %>
						<%= form_tag :action => 'delete_user', :id => @game, :player_id => player.id, :user_id => user.id do %>
							<%= user.login %>
					  	<%= submit_tag 'Remove' %>
						<% end %>
					<% end %>
			</td>
			<td>
				<%= form_tag :action => 'update_users', :id => @game, :player_id => player.id do %>
					<%= collection_select(:User, :id, User.find(:all), :id, :login, {:prompt => true}) %>
				  <%= submit_tag 'Add User' %>
				<% end %>
			</td>
		</tr>
	<% end %>
</table>

<%= link_to 'Show', :action => 'show', :id => @game %> |
<%= link_to 'Back', :action => 'list' %>
