<h1>Create Many Games</h1>

<%= form_tag :action => 'create_many' do %>
	<%= render :active_scaffold => 'admin/game', :constraints => {:id => @game_template.id }, :label => 'Template' %>
	<%= hidden_field_tag(:id, @game_template.id) %>
	<p><label>Base Name</label><br/>
	<%= text_field_tag(:name, "", :size => 10)  %></p>
	<p><label>Start Number</label><br/>
	<%= text_field_tag(:start, "", :size => 10)  %></p>
	<p><label>End Number</label><br/>
	<%= text_field_tag(:finish, "", :size => 10)  %></p>
  <%= submit_tag 'Create' %>
<% end %>


<%= link_to 'Show', :action => 'show', :id => @game %> |
<%= link_to 'Back', :action => 'list_templates' %>
