<div id="chat">

	<div id="chat_items">
			<%= render :partial => "chat/chat_item" , :collection => @chat_items %>
	</div>
	<div id="chat_form">
		<%= render :partial => "chat/chat_form" , :locals => {:player => player} %>
	</div>
</div>