<%= form_tag params_for(:controller => 'chat', :action => 'say',), 
                {:complete => "$('chat_item_content').clear().activate();$('chat_submit').enable();",
			     :before => "$('chat_submit').disable();",
			     :id => "chat_form", 
			     :method => :post,
			     :remote => true} do %>
	chat: <%= text_field :chat_item, :content %><br/>
	<%= submit_tag 'submit', :id => 'chat_submit' %>
<% end %>