<% broadcast("/#{@game.id}/messages/new") do %>
$j("#chat_items").append("<%= escape_javascript render(partial: "chat/chat_item", object: @chat_item) %>");
scrollDivDown("chat_items");
<% end %>
$j("#chat_item_content").val('');