/*
 Some colors from http://www.oswd.org/design/preview/id/3505
*/
body { 
	background-color: #e5ebdf;  
	color: black;
}

.flash {
	color: green;
}

div#title {
	position:absolute;
	left: 0%;
	top: 0%;
	width: 100%;
	height: 10%;
	text-align:center;
	vertical-align:middle;
	background: #465052; 
	color: #FFF;
	font-family:"Arial Rounded MT Bold";
	font-size:x-large;
	border-bottom: 1px solid black;
  vertical-align: middle;
  text-align: center;
}

a.title:visited {
	color: #FFF;
}

a.title:link {
	color: #FFF;
}

.off_board_assets {
	position:absolute;
	left: 0%;
	top: 0%;
	width: 15%;
	height: 100%;
	border: 1px solid black;	
  z-index: 1;
}

div#board {
	position:absolute;
	left: 3%;
	top: 10%;
	width: 70%;
	height: 85%;	
	overflow:hidden;
	border: 1px solid black;
	z-index: -1;
	color: black;
	font-family:"Arial Rounded MT Bold";
	font-size:x-large;
}

.board_table {
	z-index: -1
}

.board_image_table {
	padding: 1px;
	border: 1px outset black;
	border-collapse: collapse;	
	z-index: -1
}

td#board_image_td {
	border: 1px outset black;
	z-index: 10
}

.cell {
	border: 1px outset black;
	z-index: 10;
  vertical-align: middle;
}


div#chat {
	position:absolute;
	left: 75%;
	top: 10%;
	width: 23%;
	height: 85%;	
	border: 1px solid black;
}

div#chat_items {
	padding-left: 5%;
	padding-right: 5%;
	height: 77.5%;
	overflow: scroll;
	background-color: white;
	border: 1px solid black;
}

div#chat_form {
	padding: 5% 5% 5% 5%;
	height: 18%;
	border: 1px solid black;
}

#chat_item_content{
	width:100%
}

.off_board_assets_table {
	border: 0px none white
}

.hover {
	border: 3px solid red;
}

.asset_instance {
	position:relative;
	width:100%;
	height:100%
}

.instance_black_overlay{
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index:1000;
    /*moz-opacity: 0.15;*/
    opacity:0.15;
    filter: alpha(opacity=15);
		display: none;
}

.black_overlay{
		display: none;
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index:1000;
    /*-moz-opacity: 0.50;*/
    opacity:.50;
}

.white_content {
    display: none;
    position: absolute;
    top: 40%;
    left: 30%;
    width: 40%;
    height: 20%;
    padding: 16px;
    border: 16px solid #465052;
    background-color: white;
    z-index:1002;
    overflow: auto;
}

.instance {
	position:relative;
}

.commit{
	font-family:"Arial";
	font-size:small;
}

.commit_table {
	padding: 3px;
	border-collapse: collapse;
	border: 1px solid black
}

table#turn_nav_table {
	position:absolute;
	top: 0%;
	left: 20%;
	height: 5%;
}

.turn_nav {
	border: 1px solid black;
	min-height: 15px;
	padding-top: 2px;
	border-collapse: collapse;	}

.shown_turn_nav {
	border-bottom: none;
	font-weight: bolder; 	
}

.turn {
	display:none;
}

.shown_turn {
	display:block;
}

.board_outer_table {
	position:absolute;
	top: 5%;
	left: 18%;
}

div#score {
	position:absolute;
	left: 0%;
	top: 10%;
	width: 100%;
	color: black;
	font-family:"Arial Rounded MT Bold";
	font-size:large;
}
