<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag "application" %>
    <title>StrikeCom: <%= controller.action_name %></title>
</head>
<body>
<div>
<p id="flash" style="color: green"><%= h flash[:notice] %></p>
<div class="navigation">
<%= link_to("Logout", {:controller => '/account', :action => 'logout'})%>		
<%= link_to_if((self.current_user.has_role? 'admin'), "Games", {:controller => 'admin/game', :action => 'list_games'})%>
<%= link_to_if((self.current_user.has_role? 'admin'), "Templates", {:controller => 'admin/game', :action => 'list_templates'})%>
<%= link_to_if((self.current_user.has_role? 'admin'), "Users", {:controller => 'admin/user', :action => 'list'})%>
</div>	

<%= yield  %>
</div>
</body>
</html>