<!DOCTYPE html>
<html>
<head>
  <title>StrikeCom</title>
 
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag 'prototype', 'scriptaculous','jquery', 'jquery-ui','application' %>
  <%= javascript_include_tag FAYE_CONFIG[:server] + ".js" %>
   <script>
  // this allows jquery to be called along with scriptaculous and YUI without any conflicts
  // the only difference is all jquery functions should be called with $j instead of $
  // e.g. $j('#div_id').stuff instead of $('#div_id').stuff
  var $j = jQuery.noConflict();
  
</script>
</head>
<body>

<%= yield %>

</body>
</html>
