<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  
    <title>StrikeCom: <%= controller.action_name %></title>
    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= stylesheet_link_tag 'game' %>
    <%= javascript_include_tag "prototype", "jquery", "jquery-ui", "application" %>
	<%= javascript_include_tag FAYE_CONFIG[:server] + ".js" %>
	<%= javascript_include_tag "play" %>
    <script type="text/javascript">
      // this allows jquery to be called along with scriptaculous and YUI without any conflicts
      // the only difference is all jquery functions should be called with $j instead of $
      // e.g. $j('#div_id').stuff instead of $('#div_id').stuff
        var $j = jQuery.noConflict();
  
        subscribe = function() {
            subscribe_to_game(<%= @game.id %>,<%= @player.id %>, '<%= FAYE_CONFIG[:server] %>');
        };
        
        display_turn('<%= @game.current_turn.id %>')
        		
		addLoadEvent(function(){
			subscribe();
		})
		
		function startMove(){
			window.status="Moving asset..."
			cursor_wait();
		}

		function stopMove(){
			cursor_clear();
			window.status="Move complete."
		}
	</script>	
</head>
<body>
  <div id="light" class="white_content"><span id="message_content"></span><p><a href = "javascript:void(0)" onclick = "window.location.reload()"><span style="font-size: smaller">If this message doesn't close after about one minute, click here to refresh the page</span></a></p></div>
  <div id="fade" class="black_overlay"></div>
	<p class="flash"><%= flash[:notice] %></p>
	<%= yield  %>
</body>
</html>